$theme-colors: (
    'primary': #0091ea, //Covalence Blue!  :D
    'deepred': #400004,
    'gold': #FFD766,
    'darkinfo': #004488,
    'transparentgray': #DDD8,
    'silver': #999,
    'platinum': #CCC
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/react-calendar/dist/Calendar.css';

.react-calendar__tile {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
    height: 100px;
    font-size: medium;
}
.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
}
.react-calendar__tile--now {
    background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
}
.react-calendar__tile--hasActive {
    background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}
.react-calendar__tile--active {
    background: #006edc;
    color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}  