$theme-colors: (
    'primary': #0091ea, //Covalence Blue!  :D
    'deepred': #400004,
    'gold': #FFD766,
    'darkinfo': #004488,
    'transparentgray': #DDD8,
    'silver': #999,
    'platinum': #CCC
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/react-calendar/dist/Calendar.css';

.react-calendar__tile {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
    height: 100px;
    font-size: medium;
  }
